@using NClubGA.Models.Newsletters
@using static NClubGA.Models.Newsletters.Util

<div class="event">
    <div class="title">
        @Event.Title
    </div>
    <div class="highlights">
        <div class="left">
            <div class="highlight">
                @if (Event.EndDate.HasValue && Event.StartDate.Date == Event.EndDate.Value.Date)
                {
                    <div class="label">
                        WHEN:
                    </div>
                    <div class="value">
                        @StartAndEndSameDay().Split("/")[0]
                        <br/>
                        @StartAndEndSameDay().Split("/")[1]
                    </div>
                }
                else if (Event.EndDate.HasValue)
                {
                    <div class="label">
                        FROM:
                    </div>
                    <div class="value">
                        @($"{Event.StartDate.Day}{GetDaySuffix(Event.StartDate.Day)} of {Event.StartDate.ToString("MMMM, h:mm tt")}")
                    </div>
                    <div class="label">
                        UNTIL:
                    </div>
                    <div class="value">
                        @($"{Event.EndDate.Value.Day}{GetDaySuffix(Event.EndDate.Value.Day)} of {Event.EndDate.Value.ToString("MMMM, h:mm tt")}")
                    </div>
                }
                else
                {
                    @* just a start time *@
                    <div class="label">
                        WHEN:
                    </div>
                    <div class="value">
                        @($"{Event.StartDate.Day}{GetDaySuffix(Event.StartDate.Day)} of {Event.StartDate.ToString("MMMM, h:mm tt")}")
                    </div>
                }
            </div>
            <div class="highlight">
                <div class="label">
                    WHERE:
                </div>
                <div class="value">
                    <a href="@Event.LocationURL">@Event.LocationName</a>
                    <br/>
                    @Event.AddressLine1
                    <br/>
                    @Event.AddressLine2
                </div>
            </div>
            <div class="highlight">
                <div class="label">
                    COST:
                </div>
                <div class="value cost">
                    @Event.Cost
                </div>
            </div>
        </div>
        <div class="right">
            <img class="main-event-image" src="@Event.MainImageUrl"/>
        </div>
    </div>
    <div class="details">
        @Event.Description
    </div>
    <div class="links">
        @if(!string.IsNullOrWhiteSpace(Event.FacebookEventUrl))
        {
            <a class="link" href="@Event.FacebookEventUrl">Facebook Event</a>
        }
        @if(Event.OtherLinks != null)
        {
            foreach (var link in Event.OtherLinks)
            {
                <a class="link" href="@link.Value">@link.Key</a>
            }
        }
    </div>
</div

@code
{
    [Parameter] required public Event Event { get; set; } 

    public string StartAndEndSameDay()
    {
        string day = Event.StartDate.Day.ToString();
        string suffix = GetDaySuffix(Event.StartDate.Day);
        
        string result = Event.StartDate.ToString("MMMM ") + day + suffix + Event.StartDate.ToString(", yyyy / h:mm tt");
        
        if (Event.EndDate.HasValue)
        {
            result += " - " + Event.EndDate.Value.ToString("h:mm tt");
        }
        
        return result;
    }
    public static string GetDaySuffix(int day)
    {
        if (day >= 11 && day <= 13) return "th";
        
        switch (day % 10)
        {
            case 1: return "st";
            case 2: return "nd";
            case 3: return "rd";
            default: return "th";
        }
    }
}